$text-primary : blue;
$text-secondary: #6c757d;
$text-white: white;
$bg-white: white;

$bg-primary: blue;
$bg-success: green;
$bg-danger: red;
$bg-light: #f8f9fa;
$border: 1px solid #dee2e6;
$font-family: Arial,"Noto Sans",sans-serif;